<div>
  <h2 class="container title-lg mt">
    <%= @questions.count %> <%= inclination(@questions.count, 'question', 'questions') %>
  </h2>
  <% @questions.each do |question| %>
    <div class="container mt-sm <%= "text-hidden" if question.hidden %>">
      <%= render question %>
    </div>
  <% end %>
</div>
