<div class="container">
  <h2 class="title-lg mb-sm">New question</h2>
  <p class="mb">for <%= link_to display_at_sign(@user), user_path(@user) %></p>

  <%= render 'form', question: @question %>
</div>
