.button {
  border: 0;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: 8px 13px 7px;
  text-decoration: none;
}

.button-main {
  background-color: #D00000;
}

.button-yellow {
  background-color: #d6d652;
}
