body {
  background: #03071E;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 40px;
}

.container {
  background: #fff;
  padding: 20px;
}

.navbar {
  background-color: #370617;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
}
